xsdConfiguration.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Championship">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="competitor" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:Name" name="Name"/>
              <xs:element type="xs:Name" name="Surname"/>
              <xs:element type="xs:integer" name="Weight"/>
              <xs:element type="xs:integer" name="Age"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>